<h1>Recargas</h1>
<div>
    <table class="table table-bordered table-striped" >
        <thead>
          <tr>
            <th>Numero Celular</th>
            <th>Valor</th>
            <th>Operador</th>
            <th>Usuario Vende</th>
            <th>Fecha de venta</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let recarga of recargas">
            <td>{{recarga.numeroCelular}}</td>
            <td>{{recarga.valor}}</td>
            <td>{{recarga.operador.nombre}}</td>
            <td>{{recarga.usuario.nombre}} {{recarga.usuario.apellido}}</td>
            <td>{{recarga.fechaVenta | date:"yyyy-MM-dd"}}</td>
            
        </tr>
        </tbody>
      </table>
</div>
<div>
  <button type="button" name="crear" class="btn btn-success btn-sm" [routerLink]="['/crear-recarga']">crear</button>
</div>
